#mockup_footer
  #mockup_menu
    #profile_info
      .border_dashed
        .rounded_corners_dashed
          %i
            %h3
              My profile
    #crowd_info
      .border_dashed
        .rounded_corners_dashed
          %i
            %h3
              the Crowd
    #badges_info
      .border_dashed
        .rounded_corners_dashed
          %i
            %h3
              Badges
