#mockup_footer
  #mockup_menu
    #profile_info
      .border_dashed
        .rounded_corners_dashed
          %i
            %h3
              = link_to 'My Profile', badges_path
    #crowd_info
      .border_dashed
        .rounded_corners_dashed
          %i
            %h3
              The Crowd
    #badges_info
      .border_dashed
        .rounded_corners_dashed
          %i
            %h3
              Badges
