#mockup_header
  #mockup_title
    #title
  #mockup_banner.profile_banner
    #mockup_banner_container
      #main_image
      #main_caption
        %h3
          %i
            Carlos Gutierrez
      #nominate_tag
