$sky_blue: #7accc8;
$mex_pink: #faad81;
$orange:   #fbae5c;
$dark_grey:#423d3a;
$light_grey:#ebebeb;

.badge{
  width:100px;
  height:100px;
  display:inline;
}

#mockup_header{
  #mockup_title{
    height:50px;
    background-color:$dark_grey;
    padding-top:5px;
    #title{
      background:url('title.jpg') no-repeat center;
      text-align:center;
      width:100%;
      height:40px;
      border-top: #000 1px dashed;
      border-bottom: #000 1px dashed;
    }
  }
  #mockup_banner{
    height:120px;
    border-bottom:1px solid;
    background-color:$sky_blue;
    #user_image{
      display:inline;
      width:200px;
    }    
    #nominate_tag{
      display:block;
      width:300px;
      float:right;
    }
  }
}

#badges_container{
  margin:0;
  background-color:$light_grey;
}

#mockup_footer{
  #mockup_menu{
    height:100px;
    width:100%;
    border:1px solid;
    #profile_info, #crowd_info, #badges_info{
      width:33.2%;
      height:100%;
      display:block;
      float: left;
    }
    #profile_info, #crowd_info{
      border-right: 1px solid;
    }
    #profile_info{
      background-color:$sky_blue;
    }
    #crowd_info{
      background-color:$mex_pink;
    }
    #badges_info{
      background-color:$orange;
    }
  }
}
